.footer{
    background-color: #fff ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 15px;

}
@media screen and (max-width: 668px) {
    .footer{
        flex-direction: column;
    }
    
}
.copy{
    color: black;
}